li {
  list-style: none;
}
#header {
  background-color: rgb(50, 129, 255);
  border-radius: 15px;
  font-size: 2.25vh;
}
.insideHeader {
  background-color: rgb(50, 129, 255);
  border-radius: 15px;
  font-size: 2.25vh;
  margin: 2vh;
}
html {
  background-color: rgb(118, 146, 191);
}
.active {
  width: 112.5%;
  font-size: 1.5em;
  border-radius: 10px;
  margin-bottom: 20px;
}
.active:hover {
  box-shadow: 0px 0px 20px 10px #0ff;
}
button:hover:not(.active) {
  width: 93.75%;
  font-size: 0.85em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #0ff;
}
button:not(.active) {
  width: 75%;
  font-size: 0.55em;
  border-radius: 10px;
  margin-bottom: 20px;
}
button:hover:not(.active) img {
  width: 2.25vh;
  height: 2.25vh;
}
#newSchedule {
  font-size: 0.75em;
  border-radius: 15px;
  margin-bottom: 20px;
}
#newSchedule:hover {
  font-size: 1.25em;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px #0ff;
}
#newPeriod {
  font-size: 0.75em;
  border-radius: 15px;
  margin-bottom: 20px;
}
#newPeriod:hover {
  font-size: 1.25em;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px #0ff;
}
.buttonAnimation {
  animation-duration: 0.5s;
  animation-name: glowExpand;
}
@keyframes glowExpand {
  from {
    box-shadow: 0px 0px 20px 10px #0ff;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
  }
  to {
    box-shadow: 0px 0px 200vw 200vh #fff;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
  }
}
li:last-child {
  margin-bottom: 0px;
}
#tabs {
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translateY(-50%);
}
.tabImg {
  width: 1.5vh;
  height: 1.5vh;
}
.activeTab {
  width: 3vh;
  height: 3vh;
}
.content {
  overflow-x: hidden;
  overflow-y: auto;
  float: right;
  width: 82.5vw;
  height: 86vh;
  white-space: pre-wrap;
  margin-top: 1vh;
  visibility: visible;
  position: absolute;
  bottom: 3vh;
  right: 3vh;
  z-index: 0;
  background-color: hsla(217, 80%, 80%, 0.5);
  border-radius: 15px 0px 0px 15px;
  white-space: normal;
}
.hidden-content {
  white-space: pre-wrap;
  overflow: hidden;
  visibility: hidden;
  z-index: 0;
  height: 0;
}
.displays {
  visibility: visible !important;
  height: 30vh;
  width: 30vw;
  border-radius: 5vh;
  border: rgb(118, 146, 191);
  border-style: solid;
}
.hidden-content-button {
  float: right;
  width: 82.5vw;
  height: 86vh;
  white-space: pre-wrap;
  overflow: hidden;
  margin-top: 1vh;
  visibility: hidden;
  position: absolute;
  top: 10vh;
  left: 17vh;
  z-index: 0;
  display: none;
}
body {
  overflow: hidden;
  height: 100vh;
}
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 100;
}
#loadingOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(118, 146, 191);
  z-index: 100;
}
#loadingHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.inner-content {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  overflow: hidden;
  visibility: visible;
  position: absolute;
  z-index: 0;
}
webview {
  border-radius: 15px 0px 0px 15px;
  border: none;
  height: 86vh;
}
ul:not(#scheduleSwitch) {
  width: 12vw;
}
pre {
  padding: 2vh;
}
form {
  padding: 2vh;
  padding-top: 0px;
  padding-bottom: 0px;
}
h2 {
  margin: 2vh;
}
input {
  margin: 1vh;
  border-radius: 5vh;
  padding: 1vh;
  min-width: 35vw;
}
select {
  margin: 1vh;
  border-radius: 5vh;
  padding: 1vh;
  min-width: 35vw;
  background-color: white;
}
.saveSchedules {
  margin: 2vh;
  overflow-x: auto;
}
.scheduleList {
  list-style-type: none;
}
.tableTop {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}
.tableTopFirst {
  border-bottom: 1px solid black;
  text-align: center;
}
.tableLeft {
  border-right: 1px solid black;
  border-top: 1px solid black;
  float: right;
}
.tableLeftFirst {
  border-right: 1px solid black;
  float: right;
}
.tableInner {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}
td {
  padding: 1vh;
  white-space: pre;
  height: 5vh;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.innerTableActive {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(118, 146, 191);
}
.overlayContainer {
  height: 0px;
}
.overlay {
  position: relative;
  width: 30vw;
  height: 30vh;
  top: 0.4vh;
  cursor: pointer;
  border-radius: 5vh;
}
.overlay:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
#scheduleSwitch {
  height: 4vh;
  width: 100%;
  margin-bottom: 5vh;
}
#scheduleSwitch > li {
  background-color: darkgrey;
  padding-top: 3vh;
  padding-right: 4vh;
  padding-left: 4vh;
  width: 40%;
  height: 100%;
  float: left;
}
